#### Import necessary libraries

In [1]:
import pandas as pd

#### Read the dataframe

In [2]:
df = pd.read_csv("D:/Bachelors/Semester2/VDSS/project_folder/Student_Mental_health.csv")
df

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
96,13/07/2020 19:56:49,Female,21.0,BCS,year 1,3.50 - 4.00,No,No,Yes,No,No
97,13/07/2020 21:21:42,Male,18.0,Engineering,Year 2,3.00 - 3.49,No,Yes,Yes,No,No
98,13/07/2020 21:22:56,Female,19.0,Nursing,Year 3,3.50 - 4.00,Yes,Yes,No,Yes,No
99,13/07/2020 21:23:57,Female,23.0,Pendidikan Islam,year 4,3.50 - 4.00,No,No,No,No,No
100,18/07/2020 20:16:21,Male,20.0,Biomedical science,Year 2,3.00 - 3.49,No,No,No,No,No

#### Clean up the data

In [3]:
# Dropping not necessary columns
df=df.drop(columns='Timestamp')
df

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...
96,Female,21.0,BCS,year 1,3.50 - 4.00,No,No,Yes,No,No
97,Male,18.0,Engineering,Year 2,3.00 - 3.49,No,Yes,Yes,No,No
98,Female,19.0,Nursing,Year 3,3.50 - 4.00,Yes,Yes,No,Yes,No
99,Female,23.0,Pendidikan Islam,year 4,3.50 - 4.00,No,No,No,No,No
100,Male,20.0,Biomedical science,Year 2,3.00 - 3.49,No,No,No,No,No

In [4]:
#replacing values in columns
mapping_dict = {'year 1': 1,'Year 1': 1,
                'year 2': 2,'Year 2': 2,
                'year 3': 3,'Year 3': 3,
                'year 4': 4,'Year 4': 4}
df = df.replace(mapping_dict)
df

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,Female,18.0,Engineering,1,3.00 - 3.49,No,Yes,No,Yes,No
1,Male,21.0,Islamic education,2,3.00 - 3.49,No,No,Yes,No,No
2,Male,19.0,BIT,1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,Female,22.0,Laws,3,3.00 - 3.49,Yes,Yes,No,No,No
4,Male,23.0,Mathemathics,4,3.00 - 3.49,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...
96,Female,21.0,BCS,1,3.50 - 4.00,No,No,Yes,No,No
97,Male,18.0,Engineering,2,3.00 - 3.49,No,Yes,Yes,No,No
98,Female,19.0,Nursing,3,3.50 - 4.00,Yes,Yes,No,Yes,No
99,Female,23.0,Pendidikan Islam,4,3.50 - 4.00,No,No,No,No,No
100,Male,20.0,Biomedical science,2,3.00 - 3.49,No,No,No,No,No

In [5]:
mapping_dict1 = {'Female': 'F','Male': 'M'}
df = df.replace(mapping_dict1)
df

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,F,18.0,Engineering,1,3.00 - 3.49,No,Yes,No,Yes,No
1,M,21.0,Islamic education,2,3.00 - 3.49,No,No,Yes,No,No
2,M,19.0,BIT,1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,F,22.0,Laws,3,3.00 - 3.49,Yes,Yes,No,No,No
4,M,23.0,Mathemathics,4,3.00 - 3.49,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...
96,F,21.0,BCS,1,3.50 - 4.00,No,No,Yes,No,No
97,M,18.0,Engineering,2,3.00 - 3.49,No,Yes,Yes,No,No
98,F,19.0,Nursing,3,3.50 - 4.00,Yes,Yes,No,Yes,No
99,F,23.0,Pendidikan Islam,4,3.50 - 4.00,No,No,No,No,No
100,M,20.0,Biomedical science,2,3.00 - 3.49,No,No,No,No,No

In [6]:
#Droping rows of NAN
nan_df = df[df.isna().any(axis=1)]
display(nan_df.head())

df = df.dropna(how='any')
df

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
43,M,NaN,BIT,1,0 - 1.99,No,No,No,No,No

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,F,18.0,Engineering,1,3.00 - 3.49,No,Yes,No,Yes,No
1,M,21.0,Islamic education,2,3.00 - 3.49,No,No,Yes,No,No
2,M,19.0,BIT,1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,F,22.0,Laws,3,3.00 - 3.49,Yes,Yes,No,No,No
4,M,23.0,Mathemathics,4,3.00 - 3.49,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...
96,F,21.0,BCS,1,3.50 - 4.00,No,No,Yes,No,No
97,M,18.0,Engineering,2,3.00 - 3.49,No,Yes,Yes,No,No
98,F,19.0,Nursing,3,3.50 - 4.00,Yes,Yes,No,Yes,No
99,F,23.0,Pendidikan Islam,4,3.50 - 4.00,No,No,No,No,No
100,M,20.0,Biomedical science,2,3.00 - 3.49,No,No,No,No,No

In [7]:
#Converting Age into int;removing the decimals
df = df.astype({'Age':'int'})
df

,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,F,18,Engineering,1,3.00 - 3.49,No,Yes,No,Yes,No
1,M,21,Islamic education,2,3.00 - 3.49,No,No,Yes,No,No
2,M,19,BIT,1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,F,22,Laws,3,3.00 - 3.49,Yes,Yes,No,No,No
4,M,23,Mathemathics,4,3.00 - 3.49,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...
96,F,21,BCS,1,3.50 - 4.00,No,No,Yes,No,No
97,M,18,Engineering,2,3.00 - 3.49,No,Yes,Yes,No,No
98,F,19,Nursing,3,3.50 - 4.00,Yes,Yes,No,Yes,No
99,F,23,Pendidikan Islam,4,3.50 - 4.00,No,No,No,No,No
100,M,20,Biomedical science,2,3.00 - 3.49,No,No,No,No,No

In [8]:
#Changing the names of some columns
df.rename(columns = {'Choose your gender':'Gender',
                     'What is your course?':'Major',
                     'What is your CGPA?':'CGPA',
                     'Your current year of Study':'Year',
                     'Do you have Depression?':'Depression',
                     'Do you have Anxiety?': 'Anxiety',
                     'Do you have Panic attack?':'Panic attacks',
                     'Did you seek any specialist for a treatment?':'Therapy',
                    'Marital status':'Single'}, inplace = True)
df

,Gender,Age,Major,Year,CGPA,Single,Depression,Anxiety,Panic attacks,Therapy
0,F,18,Engineering,1,3.00 - 3.49,No,Yes,No,Yes,No
1,M,21,Islamic education,2,3.00 - 3.49,No,No,Yes,No,No
2,M,19,BIT,1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,F,22,Laws,3,3.00 - 3.49,Yes,Yes,No,No,No
4,M,23,Mathemathics,4,3.00 - 3.49,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...
96,F,21,BCS,1,3.50 - 4.00,No,No,Yes,No,No
97,M,18,Engineering,2,3.00 - 3.49,No,Yes,Yes,No,No
98,F,19,Nursing,3,3.50 - 4.00,Yes,Yes,No,Yes,No
99,F,23,Pendidikan Islam,4,3.50 - 4.00,No,No,No,No,No
100,M,20,Biomedical science,2,3.00 - 3.49,No,No,No,No,No