In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
path = os.getcwd()
df = pd.read_csv(path + '\..\\raw_data\\World Happiness\\2018.csv')
df

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [3]:
df.rename(columns = {'Overall rank':'Happiness Rank','Score':'Happiness Score','GDP per capita':'Economy (GDP per Capita)','Healthy life expectancy': 'Health (Life Expectancy)','Perceptions of corruption':'Trust (Government Corruption)','Country or region':'Country'}, inplace = True)
df

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Social support,Health (Life Expectancy),Freedom to make life choices,Generosity,Trust (Government Corruption)
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [4]:
def swap_columns(df, col1, col2):
    col_list = list(df.columns)
    x, y = col_list.index(col1), col_list.index(col2)
    col_list[y], col_list[x] = col_list[x], col_list[y]
    df = df[col_list]
    return df

#swap points and rebounds columns
df = swap_columns(df, 'Country','Happiness Rank')
df = swap_columns(df, 'Trust (Government Corruption)','Generosity')
df

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social support,Health (Life Expectancy),Freedom to make life choices,Trust (Government Corruption),Generosity
0,Finland,1,7.632,1.305,1.592,0.874,0.681,0.393,0.202
1,Norway,2,7.594,1.456,1.582,0.861,0.686,0.340,0.286
2,Denmark,3,7.555,1.351,1.590,0.868,0.683,0.408,0.284
3,Iceland,4,7.495,1.343,1.644,0.914,0.677,0.138,0.353
4,Switzerland,5,7.487,1.420,1.549,0.927,0.660,0.357,0.256
...,...,...,...,...,...,...,...,...,...
151,Yemen,152,3.355,0.442,1.073,0.343,0.244,0.064,0.083
152,Tanzania,153,3.303,0.455,0.991,0.381,0.481,0.097,0.270
153,South Sudan,154,3.254,0.337,0.608,0.177,0.112,0.106,0.224
154,Central African Republic,155,3.083,0.024,0.000,0.010,0.305,0.038,0.218
155,Burundi,156,2.905,0.091,0.627,0.145,0.065,0.076,0.149

In [5]:
df=df.drop(columns='Generosity')
df

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social support,Health (Life Expectancy),Freedom to make life choices,Trust (Government Corruption)
0,Finland,1,7.632,1.305,1.592,0.874,0.681,0.393
1,Norway,2,7.594,1.456,1.582,0.861,0.686,0.340
2,Denmark,3,7.555,1.351,1.590,0.868,0.683,0.408
3,Iceland,4,7.495,1.343,1.644,0.914,0.677,0.138
4,Switzerland,5,7.487,1.420,1.549,0.927,0.660,0.357
...,...,...,...,...,...,...,...,...
151,Yemen,152,3.355,0.442,1.073,0.343,0.244,0.064
152,Tanzania,153,3.303,0.455,0.991,0.381,0.481,0.097
153,South Sudan,154,3.254,0.337,0.608,0.177,0.112,0.106
154,Central African Republic,155,3.083,0.024,0.000,0.010,0.305,0.038
155,Burundi,156,2.905,0.091,0.627,0.145,0.065,0.076

In [6]:
nan_df = df[df.isna().any(axis=1)]
display(nan_df.head())

df = df.dropna(how='any')
df

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social support,Health (Life Expectancy),Freedom to make life choices,Trust (Government Corruption)
19,United Arab Emirates,20,6.774,2.096,0.776,0.67,0.284,NaN

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social support,Health (Life Expectancy),Freedom to make life choices,Trust (Government Corruption)
0,Finland,1,7.632,1.305,1.592,0.874,0.681,0.393
1,Norway,2,7.594,1.456,1.582,0.861,0.686,0.340
2,Denmark,3,7.555,1.351,1.590,0.868,0.683,0.408
3,Iceland,4,7.495,1.343,1.644,0.914,0.677,0.138
4,Switzerland,5,7.487,1.420,1.549,0.927,0.660,0.357
...,...,...,...,...,...,...,...,...
151,Yemen,152,3.355,0.442,1.073,0.343,0.244,0.064
152,Tanzania,153,3.303,0.455,0.991,0.381,0.481,0.097
153,South Sudan,154,3.254,0.337,0.608,0.177,0.112,0.106
154,Central African Republic,155,3.083,0.024,0.000,0.010,0.305,0.038
155,Burundi,156,2.905,0.091,0.627,0.145,0.065,0.076

In [7]:
region_df = pd.read_csv(path + '\..\\raw_data\\World Happiness\\2015.csv')

# Merge the DataFrames based on "Country" column
df = pd.merge(df, region_df[['Country', 'Region']], on='Country', how='left')

# Reorder the columns with "Region" in the third column position
df = df[df.columns[:2].tolist() + ['Region'] + df.columns[2:-1].tolist()]

df

,Country,Happiness Rank,Region,Happiness Score,Economy (GDP per Capita),Social support,Health (Life Expectancy),Freedom to make life choices,Trust (Government Corruption)
0,Finland,1,Western Europe,7.632,1.305,1.592,0.874,0.681,0.393
1,Norway,2,Western Europe,7.594,1.456,1.582,0.861,0.686,0.340
2,Denmark,3,Western Europe,7.555,1.351,1.590,0.868,0.683,0.408
3,Iceland,4,Western Europe,7.495,1.343,1.644,0.914,0.677,0.138
4,Switzerland,5,Western Europe,7.487,1.420,1.549,0.927,0.660,0.357
...,...,...,...,...,...,...,...,...,...
150,Yemen,152,Middle East and Northern Africa,3.355,0.442,1.073,0.343,0.244,0.064
151,Tanzania,153,Sub-Saharan Africa,3.303,0.455,0.991,0.381,0.481,0.097
152,South Sudan,154,NaN,3.254,0.337,0.608,0.177,0.112,0.106
153,Central African Republic,155,Sub-Saharan Africa,3.083,0.024,0.000,0.010,0.305,0.038
154,Burundi,156,Sub-Saharan Africa,2.905,0.091,0.627,0.145,0.065,0.076

In [8]:
# Filter the DataFrame to get rows with missing values in the "Region" column
missing_region_countries = df[df['Region'].isna()]['Country'].tolist()

# Print the countries with missing region
for country in missing_region_countries:
    print(country)

Trinidad & Tobago
Belize
Northern Cyprus
Somalia
Namibia
South Sudan

In [9]:
# Create a dictionary mapping countries to their respective regions
region_mapping = {
    'Trinidad & Tobago': 'Latin America and Caribbean',
    'Belize': 'Latin America and Caribbean',
    'Northern Cyprus': 'Middle East and Northern Africa',
    'Somalia': 'Sub-Saharan Africa',
    'Namibia': 'Sub-Saharan Africa',
    'South Sudan': 'Sub-Saharan Africa'
}

# Add the missing "Region" values for the specified countries
for country, region in region_mapping.items():
    df.loc[df['Country'] == country, 'Region'] = region

In [10]:
# Move "Happiness Rank" to the first column
df = df[['Happiness Rank'] + df.columns.drop('Happiness Rank').tolist()]

In [11]:
df.to_csv(path + "/../clean_data/2018.csv", index=False)