In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
path = os.getcwd()
df = pd.read_csv(path + '\..\\raw_data\\World Happiness\\2019.csv')
df

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [3]:
df.rename(columns = {'Overall rank':'Happiness Rank','Score':'Happiness Score','GDP per capita':'Economy (GDP per Capita)','Healthy life expectancy': 'Health (Life Expectancy)','Perceptions of corruption':'Trust (Government Corruption)','Country or region':'Country'}, inplace = True)
df

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Social support,Health (Life Expectancy),Freedom to make life choices,Generosity,Trust (Government Corruption)
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [4]:
def swap_columns(df, col1, col2):
    col_list = list(df.columns)
    x, y = col_list.index(col1), col_list.index(col2)
    col_list[y], col_list[x] = col_list[x], col_list[y]
    df = df[col_list]
    return df

#swap points and rebounds columns
df = swap_columns(df, 'Country','Happiness Rank')
df = swap_columns(df, 'Trust (Government Corruption)','Generosity')
df

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social support,Health (Life Expectancy),Freedom to make life choices,Trust (Government Corruption),Generosity
0,Finland,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153
1,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252
2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271
3,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354
4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322
...,...,...,...,...,...,...,...,...,...
151,Rwanda,152,3.334,0.359,0.711,0.614,0.555,0.411,0.217
152,Tanzania,153,3.231,0.476,0.885,0.499,0.417,0.147,0.276
153,Afghanistan,154,3.203,0.350,0.517,0.361,0.000,0.025,0.158
154,Central African Republic,155,3.083,0.026,0.000,0.105,0.225,0.035,0.235
155,South Sudan,156,2.853,0.306,0.575,0.295,0.010,0.091,0.202

In [5]:
df=df.drop(columns='Generosity')
df

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social support,Health (Life Expectancy),Freedom to make life choices,Trust (Government Corruption)
0,Finland,1,7.769,1.340,1.587,0.986,0.596,0.393
1,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.410
2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.341
3,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.118
4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298
...,...,...,...,...,...,...,...,...
151,Rwanda,152,3.334,0.359,0.711,0.614,0.555,0.411
152,Tanzania,153,3.231,0.476,0.885,0.499,0.417,0.147
153,Afghanistan,154,3.203,0.350,0.517,0.361,0.000,0.025
154,Central African Republic,155,3.083,0.026,0.000,0.105,0.225,0.035
155,South Sudan,156,2.853,0.306,0.575,0.295,0.010,0.091

In [6]:
nan_df = df[df.isna().any(axis=1)]
display(nan_df.head())

df = df.dropna(how='any')
df

Empty DataFrame
Columns: [Country, Happiness Rank, Happiness Score, Economy (GDP per Capita), Social support, Health (Life Expectancy), Freedom to make life choices, Trust (Government Corruption)]
Index: []

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Social support,Health (Life Expectancy),Freedom to make life choices,Trust (Government Corruption)
0,Finland,1,7.769,1.340,1.587,0.986,0.596,0.393
1,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.410
2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.341
3,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.118
4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298
...,...,...,...,...,...,...,...,...
151,Rwanda,152,3.334,0.359,0.711,0.614,0.555,0.411
152,Tanzania,153,3.231,0.476,0.885,0.499,0.417,0.147
153,Afghanistan,154,3.203,0.350,0.517,0.361,0.000,0.025
154,Central African Republic,155,3.083,0.026,0.000,0.105,0.225,0.035
155,South Sudan,156,2.853,0.306,0.575,0.295,0.010,0.091

In [7]:
region_df = pd.read_csv(path + '\..\\raw_data\\World Happiness\\2015.csv')

# Merge the DataFrames based on "Country" column
df = pd.merge(df, region_df[['Country', 'Region']], on='Country', how='left')

# Reorder the columns with "Region" in the third column position
df = df[df.columns[:2].tolist() + ['Region'] + df.columns[2:-1].tolist()]

df

,Country,Happiness Rank,Region,Happiness Score,Economy (GDP per Capita),Social support,Health (Life Expectancy),Freedom to make life choices,Trust (Government Corruption)
0,Finland,1,Western Europe,7.769,1.340,1.587,0.986,0.596,0.393
1,Denmark,2,Western Europe,7.600,1.383,1.573,0.996,0.592,0.410
2,Norway,3,Western Europe,7.554,1.488,1.582,1.028,0.603,0.341
3,Iceland,4,Western Europe,7.494,1.380,1.624,1.026,0.591,0.118
4,Netherlands,5,Western Europe,7.488,1.396,1.522,0.999,0.557,0.298
...,...,...,...,...,...,...,...,...,...
151,Rwanda,152,Sub-Saharan Africa,3.334,0.359,0.711,0.614,0.555,0.411
152,Tanzania,153,Sub-Saharan Africa,3.231,0.476,0.885,0.499,0.417,0.147
153,Afghanistan,154,Southern Asia,3.203,0.350,0.517,0.361,0.000,0.025
154,Central African Republic,155,Sub-Saharan Africa,3.083,0.026,0.000,0.105,0.225,0.035
155,South Sudan,156,NaN,2.853,0.306,0.575,0.295,0.010,0.091

In [8]:
# Filter the DataFrame to get rows with missing values in the "Region" column
missing_region_countries = df[df['Region'].isna()]['Country'].tolist()

# Print the countries with missing region
for country in missing_region_countries:
    print(country)

Trinidad & Tobago
Northern Cyprus
North Macedonia
Somalia
Namibia
Gambia
South Sudan

In [9]:
# Create a dictionary mapping countries to their respective regions
region_mapping = {
    'Trinidad & Tobago': 'Latin America and Caribbean',
    'Northern Cyprus': 'Middle East and Northern Africa',
    'North Macedonia': 'Central and Eastern Europe',
    'Somalia': 'Sub-Saharan Africa',
    'Namibia': 'Sub-Saharan Africa',
    'Gambia': 'Sub-Saharan Africa',
    'South Sudan': 'Sub-Saharan Africa'
}

# Add the missing "Region" values for the specified countries
for country, region in region_mapping.items():
    df.loc[df['Country'] == country, 'Region'] = region

In [10]:
# Move "Happiness Rank" to the first column
df = df[['Happiness Rank'] + df.columns.drop('Happiness Rank').tolist()]

In [11]:
df.to_csv(path + "/../clean_data/2019.csv", index=False)